body {
    font-family: Arial, sans-serif;
    background: black;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: whitesmoke;
    background-color: grey;
}

.answers{
    background-color: plum;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    margin-top: 10px;
    background-color: yellowgreen;
    color: blue;
     box-sizing: border-box;
  opacity: 1;
  border: none;
    border-radius: 6px;
    font-size: 25px;
    line-height: 48px;
    padding: 0 16px;
    width: 25%;
  box-shadow: gray;
}

footer{
    background: #fff;
    color: #000;
    text-align: center;
    padding:20px;
    margin-top:800px;
    width: 100%;
    margin-bottom: 0%;
  }

  h1{
    color: gold;
  }
